.button {
	background-color: darkblue;
	color: #fff;
	width: 120px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	cursor: pointer;
	border: none;
	transition: 0.2s;
	
	&:hover {
		background-color: blue;
	}
}